<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215568638-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-215568638-1');
</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta format-detection="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="keywords" content="Disney, Villains, app, ios, android, Narrative Adventure JRPG, Game, Aniplex, Night Raven College">
  <meta name="description" content="Welcome to Twisted Wonderland  Let us show you the real happily-ever-after">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@twst_english">
  <meta property="og:title" content="NEWS｜Official english website of Disney Twisted-Wonderland">
  <meta property="og:type" content="article">
  <meta property="og:description" content="Welcome to Twisted Wonderland  Let us show you the real happily-ever-after">
  <meta property="og:url" content="https://disneytwistedwonderland.com/news/">
  <meta property="og:site_name" content="Official english website of Disney Twisted-Wonderland">
  <meta property="og:image" content="https://disneytwistedwonderland.com/assets/images/ogimage/ogimage_top.png">
  <title>NEWS｜Official english website of Disney Twisted-Wonderland</title>
  <link rel="dns-prefetch" href="https://dev-data.disneytwistedwonderland.com/">
  <link rel="dns-prefetch" href="https://www.googleadservices.com/">
  <link rel="dns-prefetch" href="https://www.google-analytics.com/">
  <link rel="dns-prefetch" href="https://s.ytimg.com/">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com/">
  <link rel="dns-prefetch" href="https://platform.twitter.com/">
  <link rel="dns-prefetch" href="https://www.youtube.com/">
  <link rel="dns-prefetch" href="https://analytics.twitter.com/">
  <link rel="dns-prefetch" href="https://googleads.g.doubleclick.net/">
  <link rel="dns-prefetch" href="https://data.disneytwistedwonderland.com/">
  <link rel="canonical" href="index.html">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../assets/libs/icon/favicon.ico">
  <link rel="icon" type="image/vnd.microsoft.icon" href="../assets/libs/icon/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/libs/icon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/libs/icon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/libs/icon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/libs/icon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/libs/icon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/libs/icon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/libs/icon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/libs/icon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="36x36" href="../assets/libs/icon/icon-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="../assets/libs/icon/icon-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="../assets/libs/icon/icon-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../assets/libs/icon/icon-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="../assets/libs/icon/icon-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="../assets/libs/icon/icon-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="../assets/libs/icon/icon-152x152.png">
  <link rel="icon" type="image/png" sizes="160x160" href="../assets/libs/icon/icon-160x160.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../assets/libs/icon/icon-192x192.png">
  <link rel="icon" type="image/png" sizes="196x196" href="../assets/libs/icon/icon-196x196.png">
  <link rel="icon" type="image/png" sizes="256x256" href="../assets/libs/icon/icon-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="../assets/libs/icon/icon-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="../assets/libs/icon/icon-512x512.png">
  <link rel="stylesheet" href="../assets/styles/main.css@v=2022%252F8%252F15.css">
  <link rel="stylesheet" href="../assets/styles/vendor.css@v=2022%252F8%252F15.css">
</head>
<body class="violet">
  <div class="pj_wrapper">
    <header class="pj_header" role="banner">
      <div class="pj_header__inner">
        <h1 class="title"><a href="../index.html">
            <div class="md_logo-header"><span>TWISTED WONDERLAND</span></div>
          </a></h1>
        <div class="pj_glnav_button sp"><a class="md_glnav_button" data-glnav_button><span></span><span></span></a></div>
        <nav class="pj_glnav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement" data-glnav>
          <ul class="list">
            <li class="item" itemprop="url"><a class="md_menu-glnav ff" href="index.html" title="News" itemprop="name"><span class="text">News</span></a></li>
            <li class="item" itemprop="url"><a class="md_menu-glnav ff" href="../world/index.html" title="World/Glossary" itemprop="name"><span class="text">World/Glossary</span></a></li>
            <li class="item" itemprop="url"><a class="md_menu-glnav ff" href="../characters/index.html" title="Characters" itemprop="name"><span class="text">Characters</span></a></li>
            <li class="item" itemprop="url"><a class="md_menu-glnav ff" href="../system/index.html" title="System" itemprop="name"><span class="text">System</span></a></li>
            <li class="item" itemprop="url"><a class="md_menu-glnav ff" href="../staff/index.html" title="Staff/Cast" itemprop="name"><span class="text">Staff/Cast</span></a></li>
            <li class="item" itemprop="url"><a class="md_menu-glnav ff" href="../special.1.html" title="Special" itemprop="name"><span class="text">Special</span></a></li>
          </ul>
          <hr class="md_line-dot sp">
          <div class="md_logo-glnav sp"><span>TWISTED WONDERLAND</span></div>
        </nav>
      </div>
    </header>
    <main class="pj_main" role="main">
      <div class="pj_contents" id="contents">
        <section class="news_archive">
          <div class="news_archive_container">
            <div class="title">
              <h1 class="md_title"><span>NEWS</span></h1>
            </div>
            <div class="js-news" data-article-display="24"><script type="text/template" data-news-ref="template-cats"><% if (data.length > 0) { %>
<div class="news_archive_category">
  <ul class="pj_news_archive_category" data-ctg_list="data-ctg_list">
    <% for (var i = 0; i < data.length; i++) { %>
      <li class="item <%- data[i].cat %><% if (data[i].selected) { %> selected<% } %>">
        <% if (!data[i].selected) { %>
          <a href="index.html@cat=%253C%25-&#32;data[i].cat&#32;%25%253E.html" class="md_menu-ctg-header-archive">
            <span class="name"><%- data[i].cat %></span>
          </a>
        <% } else { %>
          <a class="md_menu-ctg-header-archive" data-ctg_currnt="">
            <span class="name"><%- data[i].cat %></span>
          </a>
        <% } %>
      </li>
    <% } %>
  </ul>
</div>
<% } %></script><script type="text/template" data-news-ref="template"><% if (data.error) { %>
  <li>
    <div class="news_error"><p>The data could not be accessed.</p></div>
  </li>
<% } else if (data.length > 0) { %>
  <% for (var i = 0; i < data.length; i++) { %>
    <% var item = data[i]; %>
    <li class="item" data-aos="fade-up" data-aos-delay="0">
      <div class="pj_news_box">
        <% if (item.isNew) { %>
          <div class="new_icon"><span class="md_icon-new">New</span></div>
        <% } %>
        <div class="pj_news_box_inner">
          <a href="detail/index.html@id=%253C%25-&#32;item.id&#32;%25%253E.html">
            <% if (item.thImgPath) { %>
              <div class="pj_news_box_img">
                <img src="https://api.disneytwistedwonderland.com<%- item.thImgPath %>" alt="><%- item.subject %>" class="pj_news_box_img_thumb" />
              </div>
            <% } else if (item.category) { %>
              <div class="pj_news_box_img">
                <% if (item.category === 'NEW') { %>
                  <img src="../assets/images/news/thumbnail_new.jpg" alt="new" />
                <% } else if (item.category === 'MAINTENANCE') { %>
                  <img src="../assets/images/news/thumbnail_maintenance.jpg" alt="maintenance" />
                <% } else if (item.category === 'UPDATE') { %>
                  <img src="../assets/images/news/thumbnail_update.jpg" alt="update" />
                <% } %>
              </div>
            <% } %>
            <div class="pj_news_box_text">
              <p class="date"><%= item.publishedAt %></p>
              <p class="news_title"><%= item.subject %></p>
            </div>
          </a>
        </div>
        <div class="category">
          <div class="md_menu-ctg">
            <span class="name"><%- item.category.toLowerCase() %></span>
          </div>
        </div>
      </div>
    </li>
  <% } %>
<% } %></script>
              <div data-news-ref="list"></div>
              <ul class="news_archive_list" data-news-ref="body"></ul>
              <div class="news_more"><button data-news-ref="more">more</button></div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="pj_footer">
      <div class="pj_footer_container">
        <div class="pj_footer_nav_box" id="footer_nav_box">
          <h1 class="md_logo-footer"><span>TWISTED WONDERLAND</span></h1>
          <div class="pj_footer_nav cf">
            <div class="pj_footer_glnav">
              <ul class="list">
                <li class="item"><a class="md_menu-glnav footer ff" href="index.html"><span class="text">News</span></a></li>
                <li class="item"><a class="md_menu-glnav footer ff" href="../world/index.html"><span class="text">World/Glossary</span></a></li>
                <li class="item"><a class="md_menu-glnav footer ff" href="../characters/index.html"><span class="text">Characters</span></a></li>
                <li class="item"><a class="md_menu-glnav footer ff" href="../system/index.html"><span class="text">System</span></a></li>
                <li class="item"><a class="md_menu-glnav footer ff" href="../staff/index.html"><span class="text">Staff/Cast</span></a></li>
                <li class="item"><a class="md_menu-glnav footer ff" href="../special.1.html"><span class="text">Special</span></a></li>
              </ul>
            </div>
            <hr class="md_line-dot pc">
            <div class="pj_footer_linklist">
              <ul class="list">
                <li class="item"><a class="md_menu-glnav footer ff" href="https://twitter.com/twst_english" target="_blank"><span class="text"><span class="md_icon-tw">Twitter</span>Official</span></a></li>
                <li class="item"><a class="md_menu-glnav footer ff" href="https://www.instagram.com/twst_english/" target="_blank"><span class="text"><span class="md_icon-ig">Instagram</span>Official</span></a></li>
                <li class="item"><a class="md_menu-glnav footer ff" href="https://www.facebook.com/twst.english/" target="_blank"><span class="text"><span class="md_icon-fb">facebook</span>Official</span></a></li>
              </ul>
              <ul class="list">
                <li class="item"><a class="md_menu-glnav footer ff" href="https://faq.twisted-wonderland.aniplex.co.jp/?site_domain=en" target="_blank"><span class="text">Support<span class="md_icon-blank"></span></span></a></li>
                <li class="item"><a class="md_menu-glnav footer ff" href="https://aniplexusa.com/privacy/" target="_blank"><span class="text">Privacy Policy<span class="md_icon-blank"></span></span></a></li>
              </ul>
            </div>
            <div class="pj_share">
              <p class="share_title">SHARE</p>
              <ul class="list">
                <li class="item"><a class="md_button-share tw-footer" href="http://twitter.com/share?text=Welcome%20to%20Twisted%20Wonderland%20Let%20us%20show%20you%20the%20real%20happily-ever-after&amp;hashtags=twsten,twistedwonderland&amp;url=https://disneytwistedwonderland.com/" target="_blank">Twitter</a></li>
                <li class="item"><a class="md_button-share fb-footer" href="https://www.facebook.com/sharer/sharer.php?u=https://disneytwistedwonderland.com/" target="_blank">Facebook</a></li>
                <li class="item"><button class="md_button-share cp-footer" data-clipboard-text="Welcome to Twisted Wonderland Let us show you the real happily-ever-after
https://disneytwistedwonderland.com/">Clipboard Copy</button></li>
              </ul>
            </div>
          </div>
        </div>
        <p class="footer_info"><span>Any unauthorized use, copying, alteration, duplication, distribution of any materials,<br class="sp">pictures, or text from this website without permission is strictly prohibited.<br>* Screenshots might include contents still in development and subject to change.</span><br><br><small>&copy;Disney.　Published by Aniplex</small></p>
      </div>
    </footer>
    <div class="pj_page-top"><a class="md_button-page-top" href="index.html@cat=%253C%25-&#32;cat&#32;%25%253E.html#" data-scroll>Page Top</a></div>
  </div><script src="https://www.youtube.com/iframe_api"></script><script src="../assets/scripts/vendor.js@v=2022%252F8%252F15"></script><script src="../assets/scripts/main.js@v=2022%252F8%252F15"></script><script src="https://www.aniplex.co.jp/js/aniplex.imgdownload.min.js"></script>
</body>
</html>